[package]
authors.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
name = "pixi_progress"
readme.workspace = true
repository.workspace = true
version = "0.1.0"


[dependencies]
console = { workspace = true }
indicatif = { workspace = true }
once_cell = { workspace = true }
tokio = { workspace = true, features = ["sync", "rt"] }
