[project]
channels = ["https://fast.prefix.dev/conda-forge"]
platforms = ["win-64", "linux-64", "osx-arm64", "osx-64"]
preview = ["pixi-build"]

[package]
name = "sdl_example"
authors = ["Bas Zalmstra <bas@prefix.dev>"]
description = "Showcases how to create a simple C++ executable with Pixi"
version = "0.1.0"

[build-system]
build-backend = "pixi-build-cmake"
channels = [
  "https://prefix.dev/pixi-build-backends",
  "https://fast.prefix.dev/conda-forge",
]
dependencies = ["pixi-build-cmake"]

[tasks.start]
cmd = "sdl_example"

[host-dependencies]
# This ensures that SDL2 is available at build time.
sdl2 = ">=2.26.5,<3.0"

[dependencies]
# Define a dependency on ourselves. This will invoke the build backend to build
# the C++ code and install the executable in an environment ready to be used.
sdl_example = { path = "." }
