[project]
name = "sdl_example"
version = "0.1.0"
description = "Showcases how to create a simple C++ executable with Pixi"
authors = ["Bas Zalmstra <bas@prefix.dev>"]
channels = ["conda-forge"]
platforms = ["win-64", "linux-64", "osx-64", "osx-arm64"]

[tasks]
# Start the built executable
start = { cmd = ".build/bin/sdl_example", depends_on = ["build"] }

[dependencies]
sdl2 = "2.26.5.*"

[feature.build.dependencies]
cmake = "3.26.4.*"
cxx-compiler = "1.5.2.*"
ninja = "1.11.1.*"

[feature.build.tasks]
# Configures CMake
configure = { cmd = [
    "cmake",
    # Use the cross-platform Ninja generator
    "-G",
    "Ninja",
    # The source is in the root directory
    "-S",
    ".",
    # We wanna build in the .build directory
    "-B",
    ".build",
], sources = ["CMakeLists.txt"] }

# Build the executable but make sure CMake is configured first.
[feature.build.tasks.build]
cmd = ["ninja", "-C", ".build"]
depends_on = ["configure"]
sources = [
    "CMakeLists.txt",
    "src/*"
]
generates = [
    ".build/bin/sdl_example"
]

[environments]
build = ["build"]
