[package]
name = "pixi"
version = "0.17.1"
description = "A package management and workflow tool"
edition = "2021"
authors = ["pixi contributors <hi@prefix.dev>"]
homepage = "https://github.com/prefix-dev/pixi"
repository = "https://github.com/prefix-dev/pixi"
license = "BSD-3-Clause"
readme = "README.md"

[features]
default = ["native-tls"]
native-tls = [
    "reqwest/native-tls",
    "rattler_repodata_gateway/native-tls",
    "rattler/native-tls",
]
rustls-tls = [
    "reqwest/rustls-tls",
    "reqwest/rustls-tls-native-roots",
    "rattler_repodata_gateway/rustls-tls",
    "rattler/rustls-tls",
]
slow_integration_tests = []

[dependencies]
assert_matches = "1.5.0"
async-once-cell = "0.5.3"
cfg-if = "1.0"
chrono = "0.4.35"
clap = { version = "4.5.3", default-features = false, features = [
    "derive",
    "usage",
    "wrap_help",
    "std",
    "color",
    "error-context",
    "env",
] }
clap-verbosity-flag = "2.2.0"
clap_complete = "4.5.1"
console = { version = "0.15.8", features = ["windows-console-colors"] }
crossbeam-channel = "0.5.12"
deno_task_shell = "0.14.4"
dialoguer = "0.11.0"
dirs = "5.0.1"
distribution-filename = { git = "https://github.com/astral-sh/uv", tag = "0.1.24" }
distribution-types = { git = "https://github.com/astral-sh/uv", tag = "0.1.24" }
dunce = "1.0.4"
flate2 = "1.0.28"
futures = "0.3.30"
http-cache-reqwest = "0.13.0"
human_bytes = "0.4.3"
humantime = "2.1.0"
ignore = "0.4.22"
indexmap = { version = "2.2.5", features = ["serde"] }
indicatif = "0.17.8"

install-wheel-rs = { git = "https://github.com/astral-sh/uv", tag = "0.1.24" }
is_executable = "1.0.1"
itertools = "0.12.1"
lazy_static = "1.4.0"
miette = { version = "7.2.0", features = [
    "fancy",
    "supports-color",
    "supports-hyperlinks",
    "supports-unicode",
    "terminal_size",
    "textwrap",
] }
minijinja = { version = "1.0.14", features = ["builtins"] }
once_cell = "1.19.0"
pep440_rs = { git = "https://github.com/astral-sh/uv", tag = "0.1.24" }
pep508_rs = { git = "https://github.com/astral-sh/uv", tag = "0.1.24" }
platform-tags = { git = "https://github.com/astral-sh/uv", tag = "0.1.24" }
pypi-types = { git = "https://github.com/astral-sh/uv", tag = "0.1.24" }
pyproject-toml = "0.10.0"
rattler = { version = "0.19.4", default-features = false, features = [
    "cli-tools",
] }
rattler_conda_types = { version = "0.20.3", default-features = false }
rattler_digest = { version = "0.19.2", default-features = false }
rattler_lock = { version = "0.21.0", default-features = false }
rattler_networking = { version = "0.20.0", default-features = false }
rattler_repodata_gateway = { version = "0.19.4", default-features = false, features = [
    "sparse",
] }
rattler_shell = { version = "0.19.4", default-features = false, features = [
    "sysinfo",
] }
rattler_solve = { version = "0.20.3", default-features = false, features = [
    "resolvo",
] }
rattler_virtual_packages = { version = "0.19.4", default-features = false }
regex = "1.10.3"
requirements-txt = { git = "https://github.com/astral-sh/uv", tag = "0.1.24" }
reqwest = { version = "0.11.27", default-features = false }
reqwest-middleware = "0.2.5"
reqwest-retry = "0.4.0"
self-replace = "1.3.7"
serde = "1.0.197"
serde-untagged = "0.1.5"
serde_json = "1.0.114"
serde_with = { version = "3.7.0", features = ["indexmap"] }
serde_yaml = "0.9.33"
shlex = "1.3.0"
spdx = "0.10.4"
strsim = "0.11.0"
tabwriter = { version = "1.4.0", features = ["ansi_formatting"] }
tar = "0.4.40"
tempfile = "3.10.1"
thiserror = "1.0.58"
tokio = { version = "1.36.0", features = [
    "macros",
    "rt-multi-thread",
    "signal",
] }
tokio-util = "0.7.10"
toml_edit = { version = "0.22.8", features = ["serde"] }
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
url = "2.5.0"
uv-build = { git = "https://github.com/astral-sh/uv", tag = "0.1.24" }
uv-cache = { git = "https://github.com/astral-sh/uv", tag = "0.1.24" }
uv-client = { git = "https://github.com/astral-sh/uv", tag = "0.1.24" }
uv-dispatch = { git = "https://github.com/astral-sh/uv", tag = "0.1.24" }
uv-distribution = { git = "https://github.com/astral-sh/uv", tag = "0.1.24" }
uv-installer = { git = "https://github.com/astral-sh/uv", tag = "0.1.24" }
uv-interpreter = { git = "https://github.com/astral-sh/uv", tag = "0.1.24" }
uv-normalize = { git = "https://github.com/astral-sh/uv", tag = "0.1.24" }
uv-resolver = { git = "https://github.com/astral-sh/uv", tag = "0.1.24" }
uv-traits = { git = "https://github.com/astral-sh/uv", tag = "0.1.24" }
xxhash-rust = "0.8.10"
zip = { version = "0.6.6", default-features = false, features = [
    "deflate",
    "time",
] }

[target.'cfg(unix)'.dependencies]
nix = { version = "0.28.0", default-features = false, features = [
    "fs",
    "signal",
    "term",
    "poll",
] }
libc = { version = "0.2.153", default-features = false }
signal-hook = "0.3.17"

[dev-dependencies]
insta = { version = "1.36.1", features = ["yaml", "glob"] }
rattler_digest = "0.19.2"
rstest = "0.18.2"
serde_json = "1.0.114"
serial_test = "3.0.0"
tokio = { version = "1.36.0", features = ["rt"] }
toml = "0.8.12"

[patch.crates-io]
# For pyproject-toml
# If you change this also change the versions in the the patch section for uv
pep440_rs = { git = "https://github.com/astral-sh/uv", tag = "0.1.24" }
pep508_rs = { git = "https://github.com/astral-sh/uv", tag = "0.1.24" }

# deno_task_shell = { path = "../deno_task_shell" }
rattler = { git = "https://github.com/baszalmstra/rattler", rev = "e5aaed3e2551399985e3c11a87c2c0aedb31b0d3" }
rattler_conda_types = { git = "https://github.com/baszalmstra/rattler", rev = "e5aaed3e2551399985e3c11a87c2c0aedb31b0d3" }
rattler_digest = { git = "https://github.com/baszalmstra/rattler", rev = "e5aaed3e2551399985e3c11a87c2c0aedb31b0d3" }
rattler_lock = { git = "https://github.com/baszalmstra/rattler", rev = "e5aaed3e2551399985e3c11a87c2c0aedb31b0d3" }
rattler_networking = { git = "https://github.com/baszalmstra/rattler", rev = "e5aaed3e2551399985e3c11a87c2c0aedb31b0d3" }
rattler_repodata_gateway = { git = "https://github.com/baszalmstra/rattler", rev = "e5aaed3e2551399985e3c11a87c2c0aedb31b0d3" }
rattler_shell = { git = "https://github.com/baszalmstra/rattler", rev = "e5aaed3e2551399985e3c11a87c2c0aedb31b0d3" }
rattler_solve = { git = "https://github.com/baszalmstra/rattler", rev = "e5aaed3e2551399985e3c11a87c2c0aedb31b0d3" }
rattler_virtual_packages = { git = "https://github.com/baszalmstra/rattler", rev = "e5aaed3e2551399985e3c11a87c2c0aedb31b0d3" }
#rattler_conda_types = { path = "../rattler/crates/rattler_conda_types" }
#rattler_digest = { path = "../rattler/crates/rattler_digest" }
#rattler_networking = { path = "../rattler/crates/rattler_networking" }
#rattler_repodata_gateway = { path = "../rattler/crates/rattler_repodata_gateway" }
#rattler_shell = { path = "../rattler/crates/rattler_shell" }
#rattler_solve = { path = "../rattler/crates/rattler_solve" }
#rattler_virtual_packages = { path = "../rattler/crates/rattler_virtual_packages" }
#rattler_lock = { path = "../rattler/crates/rattler_lock" }

# Change these lines if you want a patched version of uv
[patch.'https://github.com/astral-sh/uv']
# pep440_rs = { git = "https://github.com/wolfv/uv", branch = "expose-yanks" }
# pep508_rs = { git = "https://github.com/wolfv/uv", branch = "expose-yanks" }
# uv-build = { git = "https://github.com/wolfv/uv", tag = "expose-yanks" }
# uv-cache = { git = "https://github.com/wolfv/uv", branch = "expose-yanks" }
# uv-client = { git = "https://github.com/wolfv/uv", branch = "expose-yanks" }
# uv-dispatch = { git = "https://github.com/wolfv/uv", branch = "expose-yanks" }
# uv-distribution = { git = "https://github.com/wolfv/uv", branch = "expose-yanks" }
# uv-installer = { git = "https://github.com/wolfv/uv", branch = "expose-yanks" }
# uv-interpreter = { git = "https://github.com/wolfv/uv", branch = "expose-yanks" }
# uv-normalize = { git = "https://github.com/wolfv/uv", branch = "expose-yanks" }
# uv-resolver = { git = "https://github.com/wolfv/uv", branch = "expose-yanks" }
# uv-traits = { git = "https://github.com/wolfv/uv", branch = "expose-yanks" }
# distribution-filename = { git = "https://github.com/wolfv/uv", branch = "expose-yanks" }
# distribution-types = { git = "https://github.com/wolfv/uv", branch = "expose-yanks" }
# install-wheel-rs = { git = "https://github.com/wolfv/uv", branch = "expose-yanks" }
# platform-tags = { git = "https://github.com/wolfv/uv", branch = "expose-yanks" }
# pypi-types = { git = "https://github.com/wolfv/uv", branch = "expose-yanks" }
# requirements-txt = { git = "https://github.com/wolfv/uv", branch = "expose-yanks" }

# deno_task_shell = { path = "../deno_task_shell" }
# rattler = { git = "https://github.com/mamba-org/rattler", rev = "2fb7fc1f60b250985e0674b22c5d42fd31798826" }
# rattler_conda_types = { git = "https://github.com/mamba-org/rattler", rev = "2fb7fc1f60b250985e0674b22c5d42fd31798826" }
# rattler_digest = { git = "https://github.com/mamba-org/rattler", rev = "2fb7fc1f60b250985e0674b22c5d42fd31798826" }
# rattler_lock = { git = "https://github.com/mamba-org/rattler", rev = "2fb7fc1f60b250985e0674b22c5d42fd31798826" }
# rattler_networking = { git = "https://github.com/mamba-org/rattler", rev = "2fb7fc1f60b250985e0674b22c5d42fd31798826" }
# rattler_repodata_gateway = { git = "https://github.com/mamba-org/rattler", rev = "2fb7fc1f60b250985e0674b22c5d42fd31798826" }
# rattler_shell = { git = "https://github.com/mamba-org/rattler", rev = "2fb7fc1f60b250985e0674b22c5d42fd31798826" }
# rattler_solve = { git = "https://github.com/mamba-org/rattler", rev = "2fb7fc1f60b250985e0674b22c5d42fd31798826" }
# rattler_virtual_packages = { git = "https://github.com/mamba-org/rattler", rev = "2fb7fc1f60b250985e0674b22c5d42fd31798826" }


# rattler_conda_types = { path = "../rattler/crates/rattler_conda_types" }
# rattler_digest = { path = "../rattler/crates/rattler_digest" }
# rattler_networking = { path = "../rattler/crates/rattler_networking" }
# rattler_repodata_gateway = { path = "../rattler/crates/rattler_repodata_gateway" }
# rattler_shell = { path = "../rattler/crates/rattler_shell" }
# rattler_solve = { path = "../rattler/crates/rattler_solve" }
# rattler_virtual_packages = { path = "../rattler/crates/rattler_virtual_packages" }
# rattler_lock = { path = "../rattler/crates/rattler_lock" }
