[package]
name = "pixi"
version = "0.25.0"
description = "A package management and workflow tool"
edition = "2021"
authors = ["pixi contributors <hi@prefix.dev>"]
homepage = "https://github.com/prefix-dev/pixi"
repository = "https://github.com/prefix-dev/pixi"
license = "BSD-3-Clause"
readme = "README.md"

[features]
default = ["native-tls"]
native-tls = [
    "reqwest/native-tls",
    "reqwest/native-tls-alpn",
    "rattler_repodata_gateway/native-tls",
    "rattler/native-tls",
]
rustls-tls = [
    "reqwest/rustls-tls",
    "reqwest/rustls-tls-native-roots",
    "rattler_repodata_gateway/rustls-tls",
    "rattler/rustls-tls",
]
slow_integration_tests = []

[dependencies]
ahash = "0.8.11"
assert_matches = "1.5.0"
async-once-cell = "0.5.3"
cfg-if = "1.0"
chrono = "0.4.38"
clap = { version = "4.5.4", default-features = false, features = [
    "derive",
    "usage",
    "wrap_help",
    "std",
    "color",
    "error-context",
    "env",
] }
clap-verbosity-flag = "2.2.0"
clap_complete = "4.5.2"
concat-idents = "1.1.5"
console = { version = "0.15.8", features = ["windows-console-colors"] }
crossbeam-channel = "0.5.12"
csv = "1.3.0"
deno_task_shell = "0.16.0"
dialoguer = "0.11.0"
dirs = "5.0.1"
distribution-filename = { git = "https://github.com/astral-sh/uv", tag = "0.2.11" }
distribution-types = { git = "https://github.com/astral-sh/uv", tag = "0.2.11" }
dunce = "1.0.4"
fd-lock = "4.0.2"
flate2 = "1.0.28"
fs_extra = "1.3.0"
futures = "0.3.30"
http-cache-reqwest = "0.14.0"
human_bytes = "0.4.3"
humantime = "2.1.0"
ignore = "0.4.22"
indexmap = { version = "2.2.6", features = ["serde"] }
indicatif = "0.17.8"
install-wheel-rs = { git = "https://github.com/astral-sh/uv", tag = "0.2.11" }
is_executable = "1.0.1"
itertools = "0.12.1"
lazy_static = "1.4.0"
miette = { version = "7.2.0", features = [
    "fancy",
    "supports-color",
    "supports-hyperlinks",
    "supports-unicode",
    "terminal_size",
    "textwrap",
] }
minijinja = { version = "1.0.20", features = ["builtins"] }
once_cell = "1.19.0"
parking_lot = "0.12.2"
pep440_rs = { git = "https://github.com/astral-sh/uv", tag = "0.2.11" }
pep508_rs = { git = "https://github.com/astral-sh/uv", tag = "0.2.11" }
percent-encoding = "2.3.1"
platform-tags = { git = "https://github.com/astral-sh/uv", tag = "0.2.11" }
pypi-types = { git = "https://github.com/astral-sh/uv", tag = "0.2.11" }
pyproject-toml = "0.11.0"
rattler = { version = "0.26.4", default-features = false, features = [
    "cli-tools",
    "indicatif",
] }
rattler_conda_types = { version = "0.25.2", default-features = false }
rattler_digest = { version = "0.19.4", default-features = false }
rattler_lock = { version = "0.22.12", default-features = false }
rattler_networking = { version = "0.20.8", default-features = false }
rattler_repodata_gateway = { version = "0.20.3", default-features = false, features = [
    "sparse",
    "gateway",
] }
rattler_shell = { version = "0.20.6", default-features = false, features = [
    "sysinfo",
] }
rattler_solve = { version = "0.24.2", default-features = false, features = [
    "resolvo",
] }

rattler_virtual_packages = { version = "0.19.3", default-features = false }
regex = "1.10.4"
requirements-txt = { git = "https://github.com/astral-sh/uv", tag = "0.2.11" }
reqwest = { version = "0.12.4", default-features = false, features = [
    "http2",
    "macos-system-configuration",
] }
reqwest-middleware = "0.3.0"
reqwest-retry = "0.5.0"
self-replace = "1.3.7"
serde = "1.0.198"
serde-untagged = "0.1.5"
serde_ignored = "0.1.10"
serde_json = "1.0.116"
serde_with = { version = "3.7.0", features = ["indexmap"] }
serde_yaml = "0.9.34"
shlex = "1.3.0"
spdx = "0.10.4"
strsim = "0.11.1"
tabwriter = { version = "1.4.0", features = ["ansi_formatting"] }
tar = "0.4.40"
tempfile = "3.10.1"
thiserror = "1.0.58"
tokio = { version = "1.37.0", features = [
    "macros",
    "rt-multi-thread",
    "signal",
] }
tokio-util = "0.7.10"
toml_edit = { version = "0.22.11", features = ["serde"] }
tracing = "0.1.40"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
url = "2.5.0"
uv-auth = { git = "https://github.com/astral-sh/uv", tag = "0.2.11" }
uv-build = { git = "https://github.com/astral-sh/uv", tag = "0.2.11" }
uv-cache = { git = "https://github.com/astral-sh/uv", tag = "0.2.11" }
uv-client = { git = "https://github.com/astral-sh/uv", tag = "0.2.11" }
uv-configuration = { git = "https://github.com/astral-sh/uv", tag = "0.2.11" }
uv-dispatch = { git = "https://github.com/astral-sh/uv", tag = "0.2.11" }
uv-distribution = { git = "https://github.com/astral-sh/uv", tag = "0.2.11" }
uv-git = { git = "https://github.com/astral-sh/uv", tag = "0.2.11" }
uv-installer = { git = "https://github.com/astral-sh/uv", tag = "0.2.11" }
uv-normalize = { git = "https://github.com/astral-sh/uv", tag = "0.2.11" }
uv-requirements = { git = "https://github.com/astral-sh/uv", tag = "0.2.11" }
uv-resolver = { git = "https://github.com/astral-sh/uv", tag = "0.2.11" }
uv-toolchain = { git = "https://github.com/astral-sh/uv", tag = "0.2.11" }
uv-types = { git = "https://github.com/astral-sh/uv", tag = "0.2.11" }
xxhash-rust = "0.8.10"
zip = { version = "0.6.6", default-features = false, features = [
    "deflate",
    "time",
] }

[target.'cfg(unix)'.dependencies]
nix = { version = "0.28.0", default-features = false, features = [
    "fs",
    "signal",
    "term",
    "poll",
] }
libc = { version = "0.2.153", default-features = false }
signal-hook = "0.3.17"

# Remove this after updating to uv >= 0.1.40
[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3.9", features = [
    "fileapi",
    "handleapi",
    "ioapiset",
    "winbase",
    "winioctl",
    "winnt",
] }

[dev-dependencies]
insta = { version = "1.38.0", features = ["yaml", "glob"] }
rstest = "0.19.0"
serde_json = "1.0.116"
serial_test = "3.0.0"
tokio = { version = "1.37.0", features = ["rt"] }

[patch.crates-io]
# For pyproject-toml
# pyproject-toml = { git = "https://github.com/tdejager/pyproject-toml-rs", branch = "feat/bump-508-440" }
# If you change this also change the versions in the the patch section for uv
pep440_rs = { git = "https://github.com/astral-sh/uv", tag = "0.2.11" }
pep508_rs = { git = "https://github.com/astral-sh/uv", tag = "0.2.11" }
# deno_task_shell = { path = "../deno_task_shell" }
#rattler = { git = "https://github.com/mamba-org/rattler", branch = "main" }
#rattler_conda_types = { git = "https://github.com/mamba-org/rattler", branch = "main" }
#rattler_digest = { git = "https://github.com/mamba-org/rattler", branch = "main" }
#rattler_lock = { git = "https://github.com/mamba-org/rattler", branch = "main" }
#rattler_networking = { git = "https://github.com/mamba-org/rattler", branch = "main" }
#rattler_repodata_gateway = { git = "https://github.com/mamba-org/rattler", branch = "main" }
#rattler_shell = { git = "https://github.com/mamba-org/rattler", branch = "main" }
#rattler_solve = { git = "https://github.com/mamba-org/rattler", branch = "main" }
#rattler_virtual_packages = { git = "https://github.com/mamba-org/rattler", branch = "main" }
#rattler_conda_types = { path = "../rattler/crates/rattler_conda_types" }
#rattler_digest = { path = "../rattler/crates/rattler_digest" }
#rattler_networking = { path = "../rattler/crates/rattler_networking" }
#rattler_repodata_gateway = { path = "../rattler/crates/rattler_repodata_gateway" }
#rattler_shell = { path = "../rattler/crates/rattler_shell" }
#rattler_solve = { path = "../rattler/crates/rattler_solve" }
#rattler_virtual_packages = { path = "../rattler/crates/rattler_virtual_packages" }
#rattler_lock = { path = "../rattler/crates/rattler_lock" }
#rattler_package_streaming = { path = "../rattler/crates/rattler_package_streaming" }
#rattler = { path = "../rattler/crates/rattler" }
# Change these lines if you want a patched version of uv
# [patch.'https://github.com/astral-sh/uv']
# pep440_rs = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# pep508_rs = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# uv-build = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# uv-cache = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# uv-client = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# uv-configuration = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# uv-git = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# uv-dispatch = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# uv-distribution = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# uv-installer = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# uv-interpreter = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# uv-normalize = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# uv-resolver = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# uv-types = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# distribution-filename = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# distribution-types = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# install-wheel-rs = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# platform-tags = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# pypi-types = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# requirements-txt = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
