[workspace]
members = ["crates/*"]

[workspace.package]
edition = "2021"
authors = ["pixi contributors <hi@prefix.dev>"]
homepage = "https://github.com/prefix-dev/pixi"
repository = "https://github.com/prefix-dev/pixi"
license = "BSD-3-Clause"
readme = "README.md"

[workspace.dependencies]
ahash = "0.8.11"
assert_matches = "1.5.0"
async-once-cell = "0.5.3"
cfg-if = "1.0"
chrono = "0.4.38"
clap = { version = "4.5.9", default-features = false }
clap-verbosity-flag = "2.2.0"
clap_complete = "4.5.2"
clap_complete_nushell = "4.5.2"
concat-idents = "1.1.5"
console = "0.15.8"
crossbeam-channel = "0.5.12"
csv = "1.3.0"
deno_task_shell = "0.16.0"
dialoguer = "0.11.0"
dirs = "5.0.1"
distribution-filename = { git = "https://github.com/astral-sh/uv", tag = "0.2.18" }
distribution-types = { git = "https://github.com/astral-sh/uv", tag = "0.2.18" }
dunce = "1.0.4"
fd-lock = "4.0.2"
flate2 = "1.0.28"
fs_extra = "1.3.0"
futures = "0.3.30"
http-cache-reqwest = "0.14.0"
human_bytes = "0.4.3"
humantime = "2.1.0"
ignore = "0.4.22"
indexmap = "2.2.6"
indicatif = "0.17.8"
insta = "1.38.0"
install-wheel-rs = { git = "https://github.com/astral-sh/uv", tag = "0.2.18" }
is_executable = "1.0.1"
itertools = "0.12.1"
lazy_static = "1.4.0"
miette = "7.2.0"
minijinja = "1.0.20"
once_cell = "1.19.0"
parking_lot = "0.12.2"
pep440_rs = { git = "https://github.com/astral-sh/uv", tag = "0.2.18" }
pep508_rs = { git = "https://github.com/astral-sh/uv", tag = "0.2.18" }
percent-encoding = "2.3.1"
platform-tags = { git = "https://github.com/astral-sh/uv", tag = "0.2.18" }
pypi-types = { git = "https://github.com/astral-sh/uv", tag = "0.2.18" }
pyproject-toml = "0.11.0"
rattler = { version = "0.27.0", default-features = false }
rattler_conda_types = { version = "0.26.1", default-features = false }
rattler_digest = { version = "0.19.5", default-features = false }
rattler_lock = { version = "0.22.14", default-features = false }
rattler_networking = { version = "0.20.10", default-features = false }
rattler_repodata_gateway = { version = "0.21.1", default-features = false }
rattler_shell = { version = "0.21.1", default-features = false }
rattler_solve = { version = "0.25.1", default-features = false }
rattler_virtual_packages = { version = "0.19.18", default-features = false }
regex = "1.10.4"
requirements-txt = { git = "https://github.com/astral-sh/uv", tag = "0.2.18" }
reqwest = { version = "0.12.4", default-features = false }
reqwest-middleware = "0.3.0"
reqwest-retry = "0.5.0"
rstest = "0.19.0"
self-replace = "1.3.7"
serde = "1.0.198"
serde-untagged = "0.1.5"
serde_ignored = "0.1.10"
serde_json = "1.0.116"
serde_with = "3.7.0"
serde_yaml = "0.9.34"
serial_test = "3.0.0"
shlex = "1.3.0"
spdx = "0.10.4"
strsim = "0.11.1"
tabwriter = "1.4.0"
tar = "0.4.40"
tempfile = "3.10.1"
thiserror = "1.0.58"
tokio = "1.37.0"
tokio-util = "0.7.10"
toml_edit = "0.22.11"
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
url = "2.5.0"
uv-auth = { git = "https://github.com/astral-sh/uv", tag = "0.2.18" }
uv-build = { git = "https://github.com/astral-sh/uv", tag = "0.2.18" }
uv-cache = { git = "https://github.com/astral-sh/uv", tag = "0.2.18" }
uv-client = { git = "https://github.com/astral-sh/uv", tag = "0.2.18" }
uv-configuration = { git = "https://github.com/astral-sh/uv", tag = "0.2.18" }
uv-dispatch = { git = "https://github.com/astral-sh/uv", tag = "0.2.18" }
uv-distribution = { git = "https://github.com/astral-sh/uv", tag = "0.2.18" }
uv-git = { git = "https://github.com/astral-sh/uv", tag = "0.2.18" }
uv-installer = { git = "https://github.com/astral-sh/uv", tag = "0.2.18" }
uv-normalize = { git = "https://github.com/astral-sh/uv", tag = "0.2.18" }
uv-requirements = { git = "https://github.com/astral-sh/uv", tag = "0.2.18" }
uv-resolver = { git = "https://github.com/astral-sh/uv", tag = "0.2.18" }
uv-toolchain = { git = "https://github.com/astral-sh/uv", tag = "0.2.18" }
uv-types = { git = "https://github.com/astral-sh/uv", tag = "0.2.18" }
xxhash-rust = "0.8.10"
zip = { version = "0.6.6", default-features = false }
nix = { version = "0.28.0", default-features = false }
libc = { version = "0.2.153", default-features = false }
signal-hook = "0.3.17"
winapi = { version = "0.3.9", default-features = false }

[package]
name = "pixi"
version = "0.26.1"
description = "A package management and workflow tool"
edition.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true
license.workspace = true
readme.workspace = true

[features]
default = ["native-tls"]
native-tls = [
    "reqwest/native-tls",
    "reqwest/native-tls-alpn",
    "rattler_repodata_gateway/native-tls",
    "rattler/native-tls"
]
rustls-tls = [
    "reqwest/rustls-tls",
    "reqwest/rustls-tls-native-roots",
    "rattler_repodata_gateway/rustls-tls",
    "rattler/rustls-tls"
]
slow_integration_tests = []

[dependencies]
ahash = { workspace = true }
assert_matches = { workspace = true }
async-once-cell = { workspace = true }
barrier_cell = { path = "crates/barrier_cell" }
cfg-if = { workspace = true }
chrono = { workspace = true }
clap = { workspace = true, features = ["derive", "usage", "wrap_help", "std", "color", "error-context", "env"] }
clap-verbosity-flag = { workspace = true }
clap_complete = { workspace = true }
clap_complete_nushell = { workspace = true }
concat-idents = { workspace = true }
console = { workspace = true, features = ["windows-console-colors"] }
crossbeam-channel = { workspace = true }
csv = { workspace = true }
deno_task_shell = { workspace = true }
dialoguer = { workspace = true }
dirs = { workspace = true }
distribution-filename = { workspace = true }
distribution-types = { workspace = true }
dunce = { workspace = true }
fd-lock = { workspace = true }
flate2 = { workspace = true }
fs_extra = { workspace = true }
futures = { workspace = true }
http-cache-reqwest = { workspace = true }
human_bytes = { workspace = true }
humantime = { workspace = true }
ignore = { workspace = true }
indexmap = { workspace = true, features = ["serde"] }
indicatif = { workspace = true }
install-wheel-rs = { workspace = true }
is_executable = { workspace = true }
itertools = { workspace = true }
lazy_static = { workspace = true }
miette = { workspace = true, features = ["fancy", "supports-color", "supports-hyperlinks", "supports-unicode", "terminal_size", "textwrap"] }
minijinja = { workspace = true, features = ["builtins"] }
once_cell = { workspace = true }
parking_lot = { workspace = true }

pep440_rs = { workspace = true }
pep508_rs = { workspace = true }
percent-encoding = { workspace = true }
platform-tags = { workspace = true }
pypi-types = { workspace = true }
pyproject-toml = { workspace = true }
rattler = { workspace = true, features = ["cli-tools", "indicatif"] }
rattler_conda_types = { workspace = true }
rattler_digest = { workspace = true }
rattler_lock = { workspace = true }
rattler_networking = { workspace = true }
rattler_repodata_gateway = { workspace = true, features = ["sparse", "gateway"] }
rattler_shell = { workspace = true, features = ["sysinfo"] }
rattler_solve = { workspace = true, features = ["resolvo", "serde"] }

rattler_virtual_packages = { workspace = true }
regex = { workspace = true }
requirements-txt = { workspace = true }
reqwest = { workspace = true, features = ["http2", "macos-system-configuration"] }
reqwest-middleware = { workspace = true }
reqwest-retry = { workspace = true }
self-replace = { workspace = true }
serde = { workspace = true }
serde-untagged = { workspace = true }
serde_ignored = { workspace = true }
serde_json = { workspace = true }
serde_with = { workspace = true, features = ["indexmap"] }
serde_yaml = { workspace = true }
shlex = { workspace = true }
spdx = { workspace = true }
strsim = { workspace = true }
tabwriter = { workspace = true, features = ["ansi_formatting"] }
tar = { workspace = true }
tempfile = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt-multi-thread", "signal"] }
tokio-util = { workspace = true }
toml_edit = { workspace = true, features = ["serde"] }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = ["env-filter"] }
url = { workspace = true }
uv-auth = { workspace = true }
uv-build = { workspace = true }
uv-cache = { workspace = true }
uv-client = { workspace = true }
uv-configuration = { workspace = true }
uv-dispatch = { workspace = true }
uv-distribution = { workspace = true }
uv-git = { workspace = true }
uv-installer = { workspace = true }
uv-normalize = { workspace = true }
uv-resolver = { workspace = true }
uv-toolchain = { workspace = true }
uv-types = { workspace = true }
xxhash-rust = { workspace = true }
zip = { workspace = true, features = ["deflate", "time"] }

[target.'cfg(unix)'.dependencies]
nix = { workspace = true, features = [
    "fs",
    "signal",
    "term",
    "poll",
] }
libc = { workspace = true, default-features = false }
signal-hook = { workspace = true }

# Remove this after updating to uv >= 0.1.40
[target.'cfg(windows)'.dependencies]
winapi = { workspace = true, features = [
    "fileapi",
    "handleapi",
    "ioapiset",
    "winbase",
    "winioctl",
    "winnt",
] }

[dev-dependencies]
insta = { workspace = true, features = ["yaml", "glob"] }
rstest = { workspace = true }
serde_json = { workspace = true }
serial_test = { workspace = true }
tokio = { workspace = true, features = ["rt"] }

[patch.crates-io]
# For pyproject-toml
# pyproject-toml = { git = "https://github.com/tdejager/pyproject-toml-rs", branch = "feat/bump-508-440" }
# If you change this also change the versions in the the patch section for uv
pep440_rs = { git = "https://github.com/astral-sh/uv", tag = "0.2.18" }
pep508_rs = { git = "https://github.com/astral-sh/uv", tag = "0.2.18" }
# deno_task_shell = { path = "../deno_task_shell" }
#rattler = { git = "https://github.com/mamba-org/rattler", branch = "main" }
#rattler_conda_types = { git = "https://github.com/mamba-org/rattler", branch = "main" }
#rattler_digest = { git = "https://github.com/mamba-org/rattler", branch = "main" }
#rattler_lock = { git = "https://github.com/mamba-org/rattler", branch = "main" }
#rattler_networking = { git = "https://github.com/mamba-org/rattler", branch = "main" }
#rattler_repodata_gateway = { git = "https://github.com/mamba-org/rattler", branch = "main" }
#rattler_shell = { git = "https://github.com/mamba-org/rattler", branch = "main" }
#rattler_solve = { git = "https://github.com/mamba-org/rattler", branch = "main" }
#rattler_virtual_packages = { git = "https://github.com/mamba-org/rattler", branch = "main" }
#rattler_conda_types = { path = "../rattler/crates/rattler_conda_types" }
#rattler_digest = { path = "../rattler/crates/rattler_digest" }
#rattler_networking = { path = "../rattler/crates/rattler_networking" }
#rattler_repodata_gateway = { path = "../rattler/crates/rattler_repodata_gateway" }
#rattler_shell = { path = "../rattler/crates/rattler_shell" }
#rattler_solve = { path = "../rattler/crates/rattler_solve" }
#rattler_virtual_packages = { path = "../rattler/crates/rattler_virtual_packages" }
#rattler_lock = { path = "../rattler/crates/rattler_lock" }
#rattler_package_streaming = { path = "../rattler/crates/rattler_package_streaming" }
#rattler = { path = "../rattler/crates/rattler" }
# Change these lines if you want a patched version of uv
# [patch.'https://github.com/astral-sh/uv']
# pep440_rs = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# pep508_rs = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# uv-build = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# uv-cache = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# uv-client = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# uv-configuration = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# uv-git = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# uv-dispatch = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# uv-distribution = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# uv-installer = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# uv-interpreter = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# uv-normalize = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# uv-resolver = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# uv-types = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# distribution-filename = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# distribution-types = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# install-wheel-rs = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# platform-tags = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# pypi-types = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
# requirements-txt = { git = "https://github.com/astral-sh/uv", rev = "65b17f6e81125064ea04c5cfef685516ab660cf5" }
