[package]
name = "pixi"
version = "0.0.7"
description = "A package management and workflow tool"
edition = "2021"
authors = ["pixi contributors <hi@prefix.dev>"]
homepage = "https://github.com/prefix-dev/pixi"
repository = "https://github.com/prefix-dev/pixi"
license = "BSD-3-Clause"
readme = "docs/README.md"

[features]
default = ["native-tls"]
native-tls = ["reqwest/native-tls", "rattler_repodata_gateway/native-tls", "rattler/native-tls"]
rustls-tls = ["reqwest/rustls-tls", "rattler_repodata_gateway/rustls-tls", "rattler/rustls-tls"]
slow_integration_tests = []

[dependencies]
anyhow = "1.0.70"
ariadne = "0.3.0"
clap = { version = "4.2.4", default-features = false, features = ["derive", "usage", "wrap_help", "std", "color", "error-context"] }
clap-verbosity-flag = "2.0.1"
clap_complete = "4.2.1"
console = { version = "0.15.5", features = ["windows-console-colors"] }
deno_task_shell = { git = "https://github.com/prefix-dev/deno_task_shell" }
# deno_task_shell = { path = "../deno_task_shell" }
dirs = "5.0.1"
dunce = "1.0.4"
futures = "0.3.28"
indexmap = { version = "1.9.3", features = ["serde"] }
indicatif = "0.17.3"
insta = { version = "1.29.0", features = ["yaml"] }
is_executable = "1.0.1"
itertools = "0.10.5"
minijinja = { version = "0.34.0", features = ["builtins"] }
once_cell = "1.17.1"
rattler = { default-features = false, git = "https://github.com/mamba-org/rattler", branch = "main" }
rattler_conda_types = { default-features = false, git = "https://github.com/mamba-org/rattler", branch = "main" }
rattler_networking = { default-features = false, git = "https://github.com/mamba-org/rattler", branch = "main" }
rattler_repodata_gateway = { default-features = false, git = "https://github.com/mamba-org/rattler", branch = "main", features = ["sparse"] }
rattler_shell = { default-features = false, git = "https://github.com/mamba-org/rattler", branch = "main", features = ["sysinfo"] }
rattler_solve = { default-features = false, git = "https://github.com/mamba-org/rattler", branch = "main", features = ["libsolv_c"] }
rattler_virtual_packages = { default-features = false, git = "https://github.com/mamba-org/rattler", branch = "main" }
#rattler = { default-features = false, path="../rattler/crates/rattler" }
#rattler_conda_types = { default-features = false, path="../rattler/crates/rattler_conda_types" }
#rattler_repodata_gateway = { default-features = false, path="../rattler/crates/rattler_repodata_gateway", features = ["sparse"] }
#rattler_shell = { default-features = false, path="../rattler/crates/rattler_shell", features = ["sysinfo"] }
#rattler_solve = { default-features = false, path="../rattler/crates/rattler_solve", features = ["libsolv_c"] }
#rattler_virtual_packages = { default-features = false, path="../rattler/crates/rattler_virtual_packages" }
#rattler_networking = { default-features = false, path="../rattler/crates/rattler_networking" }
reqwest = { version = "0.11.16", default-features = false }
serde = "1.0.163"
serde_json = "1.0.96"
serde_spanned = "0.6.2"
serde_with = { version = "3.0.0", features = ["indexmap"] }
shlex = "1.1.0"
tempfile = "3.5.0"
tokio = { version = "1.27.0", features = ["macros", "rt-multi-thread", "signal"] }
toml_edit = { version = "0.19.10", features = ["serde"] }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
url = "2.4.0"

[dev-dependencies]
rattler_digest = { default-features = false, git = "https://github.com/mamba-org/rattler", branch = "main" }
serde_json = "1.0.96"
tokio = { version = "1.27.0", features = ["rt"] }
