[package]
name = "pixi"
version = "0.5.1-dev"
description = "A package management and workflow tool"
edition = "2021"
authors = ["pixi contributors <hi@prefix.dev>"]
homepage = "https://github.com/prefix-dev/pixi"
repository = "https://github.com/prefix-dev/pixi"
license = "BSD-3-Clause"
readme = "README.md"

[features]
default = ["native-tls"]
native-tls = ["reqwest/native-tls", "rattler_repodata_gateway/native-tls", "rattler/native-tls"]
rustls-tls = ["reqwest/rustls-tls", "reqwest/rustls-tls-native-roots", "rattler_repodata_gateway/rustls-tls", "rattler/rustls-tls"]
slow_integration_tests = []

[dependencies]
atty = "0.2"
chrono = "0.4.31"
clap = { version = "4.4.5", default-features = false, features = ["derive", "usage", "wrap_help", "std", "color", "error-context"] }
clap-verbosity-flag = "2.0.1"
clap_complete = "4.4.2"
console = { version = "0.15.7", features = ["windows-console-colors"] }
deno_task_shell = "0.13.2"
# deno_task_shell = { path = "../deno_task_shell" }
dirs = "5.0.1"
dunce = "1.0.4"
futures = "0.3.28"
indexmap = { version = "2.0.0", features = ["serde"] }
indicatif = "0.17.7"
insta = { version = "1.32.0", features = ["yaml"] }
is_executable = "1.0.1"
itertools = "0.11.0"
miette = { version = "5.10.0", features = ["fancy", "supports-color", "supports-hyperlinks", "supports-unicode", "terminal_size", "textwrap"] }
minijinja = { version = "1.0.8", features = ["builtins"] }
once_cell = "1.18.0"
rattler = { version = "0.10.0", default-features = false }
rattler-build = { version = "0.3.1", default-features = false }
rattler_conda_types = { version = "0.10.0", default-features = false }
rattler_digest = { version = "0.10.0", default-features = false }
rattler_networking = { version = "0.10.0", default-features = false }
rattler_repodata_gateway = { version = "0.10.0", default-features = false, features = ["sparse"] }
rattler_shell = { version = "0.10.0", default-features = false, features = ["sysinfo"] }
rattler_solve = { version = "0.10.0", default-features = false, features = ["resolvo"] }
rattler_virtual_packages = { version = "0.10.0", default-features = false }
reqwest = { version = "0.11.20", default-features = false }
serde = "1.0.188"
serde_json = "1.0.107"
serde_spanned = "0.6.3"
serde_with = { version = "3.3.0", features = ["indexmap"] }
spdx = "0.10.2"
strsim = "0.10.0"
tempfile = "3.8.0"
thiserror = "1.0.49"
tokio = { version = "1.32.0", features = ["macros", "rt-multi-thread", "signal"] }
tokio-util = "0.7.9"
toml_edit = { version = "0.20.1", features = ["serde"] }
tracing = "0.1.37"
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
url = "2.4.1"

[target.'cfg(unix)'.dependencies]
nix = { version = "0.27.1", default-features = false, features = ["fs", "signal", "term", "poll"] }
libc = { version = "0.2.148", default-features = false }
signal-hook = "0.3.17"

[dev-dependencies]
rattler_digest = "0.10.0"
serde_json = "1.0.107"
tokio = { version = "1.32.0", features = ["rt"] }
toml = "0.8.1"

[patch.crates-io]
#rattler = { git = "https://github.com/mamba-org/rattler", branch = "main" }
#rattler_conda_types = { git = "https://github.com/mamba-org/rattler", branch = "main" }
#rattler_digest = { git = "https://github.com/mamba-org/rattler", branch = "main" }
#rattler_networking = { git = "https://github.com/mamba-org/rattler", branch = "main" }
#rattler_repodata_gateway = { git = "https://github.com/mamba-org/rattler", branch = "main" }
#rattler_shell = { git = "https://github.com/mamba-org/rattler", branch = "main" }
#rattler_solve = { git = "https://github.com/mamba-org/rattler", branch = "main" }
#rattler_virtual_packages = { git = "https://github.com/mamba-org/rattler", branch = "main" }
#rattler-build = { git = "https://github.com/prefix-dev/rattler-build", branch = "main" }

#rattler = { path = "../rattler/crates/rattler" }
#rattler_conda_types = { path = "../rattler/crates/rattler_conda_types" }
#rattler_digest = { path = "../rattler/crates/rattler_digest" }
#rattler_networking = { path = "../rattler/crates/rattler_networking" }
#rattler_repodata_gateway = { path = "../rattler/crates/rattler_repodata_gateway" }
#rattler_shell = { path = "../rattler/crates/rattler_shell" }
#rattler_solve = { path = "../rattler/crates/rattler_solve" }
#rattler_virtual_packages = { path = "../rattler/crates/rattler_virtual_packages" }
rattler-build = { path = "../rattler-build" }
