site_name: "Pixi by prefix.dev"
site_url: https://prefix-dev.github.io/pixi

theme:
  name: material
  custom_dir: docs/overrides
  favicon: assets/pixi.png
  logo: assets/pixi.png
  font:
    text: Red Hat Text
    code: JetBrains Mono

  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: prefix-light
      accent: prefix-light
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: prefix
      accent: prefix
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

  icon:
    edit: material/pencil
    view: material/eye

  features:
    - content.tabs.link
    - content.code.copy
    - content.action.edit
    - content.code.annotate
    - content.tooltips
    # - content.code.select Sponsor only
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    # enables the summary of chapter
    # by adding index.md to the chapter
    - navigation.indexes
    - navigation.sections
    - navigation.top
    - navigation.footer

extra_css:
  - stylesheets/extra.css
extra_javascript:
  - javascripts/extra.js

repo_url: https://github.com/prefix-dev/pixi/
edit_uri: edit/main/docs/

markdown_extensions:
  - admonition
  - abbr
  - def_list
  - footnotes
  - attr_list
  - pymdownx.extra
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      toc_depth: 3
      permalink: "#"
  - mdx_truly_sane_lists

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/prefix-dev
    - icon: fontawesome/brands/mastodon
      link: https://hachyderm.io/@prefix
    - icon: fontawesome/brands/bluesky
      link: https://bsky.app/profile/prefix.dev
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/prefix-dev
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/prefix_dev
  version:
    provider: mike

nav:
  - Home: index.md
  - Getting Started: getting_started.md
  - Installation: installation.md
  - Workspace:
      - Environments: workspace/environment.md
      - Tasks: workspace/advanced_tasks.md
      - Multi Platform: workspace/multi_platform_configuration.md
      - Multi Environment: workspace/multi_environment.md
      - Lockfile: workspace/lockfile.md
      - System Requirements: workspace/system_requirements.md
  - Building:
      - Getting started: build/getting_started.md
      - Tutorials:
          - Building a Python Package: build/python.md
          - Building a C++ Package: build/cpp.md
          - Multiple Packages in Workspace: build/workspace.md
          - Variants: build/variants.md
          - Advanced Building Using rattler-build: build/advanced_cpp.md
      - Dependency Types: build/dependency_types.md
      - Build Backends: build/backends.md
  - Distributing:
      - Pixi Pack: deployment/pixi_pack.md
      - Authentication: deployment/authentication.md
      - Container: deployment/container.md
      - S3: deployment/s3.md
  - Python:
      - Tutorial: python/tutorial.md
      - Pyproject.toml: python/pyproject_toml.md
      - Pytorch Installation: python/pytorch.md
  - Global Tools:
      - Introduction: global_tools/introduction.md
      - Manifest: global_tools/manifest.md
      - Concepts: global_tools/concepts.md
      - Examples: global_tools/examples.md
  - Integration:
      - Editor:
          - VSCode: integration/editor/vscode.md
          - Jetbrains: integration/editor/jetbrains.md
          - Zed: integration/editor/zed.md
          - RStudio: integration/editor/r_studio.md
          - JupyterLab: integration/editor/jupyterlab.md
      - Continuous Integration:
          - GitHub Actions: integration/ci/github_actions.md
          - Lockfile Updates: integration/ci/updates_github_actions.md
      - Extensions:
          - integration/extensions/index.md
          - Pixi Diff: integration/extensions/pixi_diff.md
          - Pixi Install-to-prefix: integration/extensions/pixi_install_to_prefix.md
      - Third Party:
          - Pixi Diff: integration/third_party/pixi_diff.md
          - Pixi Install-to-prefix: integration/third_party/pixi_install_to_prefix.md
          - Direnv: integration/third_party/direnv.md
          - Starship: integration/third_party/starship.md
  - Switching from:
      - Poetry: switching_from/poetry.md
      - Conda/Mamba: switching_from/conda.md
  - Tutorials:
      - ROS 2: tutorials/ros2.md
      - Rust: tutorials/rust.md
      - Multi Environment: tutorials/multi_environment.md
  - Advanced:
      - Channel Logic: advanced/channel_logic.md
      - Info Command: advanced/explain_info_command.md
      - Shebang: advanced/shebang.md
      - Shell: advanced/pixi_shell.md
  - Reference:
      - Pixi Manifest: reference/pixi_manifest.md
      - Pixi Configuration: reference/pixi_configuration.md
      - CLI: reference/cli/pixi.md
      - Environment Variables: reference/environment_variables.md
  - Misc:
      - Changelog: CHANGELOG.md
      - Pixi Vision: misc/vision.md
      - Packaging Pixi: misc/packaging.md
      - Community: misc/Community.md
      - FAQ: misc/FAQ.md

hooks:
  - schema/docs_hooks.py
  - install/docs_hooks.py
  - docs/docs_hooks.py

validation:
  omitted_files: warn
  absolute_links: warn
  unrecognized_links: warn
  anchors: warn

not_in_nav: |
  reference/cli/

plugins:
  - redirects:
      redirect_maps:
        "configuration.md": "reference/pixi_manifest.md"
        "reference/project_configuration.md": "reference/pixi_manifest.md"
        "basic_usage.md": "getting_started.md"
        "tutorials/python.md": "python/tutorial.md"
        "features/environment.md": "workspace/environment.md"
        "features/advanced_tasks.md": "workspace/advanced_tasks.md"
        "features/multi_platform_configuration.md": "workspace/multi_platform_configuration.md"
        "features/multi_environment.md": "workspace/multi_environment.md"
        "features/lockfile.md": "workspace/lockfile.md"
        "features/system_requirements.md": "workspace/system_requirements.md"
        "features/global_tools.md": "global_tools/introduction.md"
        "features/pytorch.md": "python/pytorch.md"
        "ide_integration/jupyterlab.md": "integration/editor/jupyterlab.md"
        "ide_integration/pycharm.md": "integration/editor/jetbrains.md"
        "ide_integration/r_studio.md": "integration/editor/r_studio.md"
        "ide_integration/devcontainer.md": "integration/editor/vscode.md"
        "advanced/authentication.md": "deployment/authentication.md"
        "advanced/channel_priority.md": "advanced/channel_logic.md"
        "advanced/github_actions.md": "integration/ci/github_actions.md"
        "advanced/updates_github_actions.md": "integration/ci/updates_github_actions.md"
        "advanced/lockfile_diffs.md": "integration/third_party/pixi_diff.md"
        "advanced/production_deployment.md": "deployment/container.md"
        "advanced/pyproject_toml.md": "python/pyproject_toml.md"
        "advanced/s3.md": "deployment/s3.md"
        "advanced/third_party.md": "integration/third_party/starship.md"
        "reference/cli.md": "reference/cli/pixi.md"
        "vision.md": "misc/vision.md"
        "packaging.md": "misc/packaging.md"
        "Community.md": "misc/Community.md"
        "FAQ.md": "misc/FAQ.md"
        "integration/editor/devcontainer.md": "integration/editor/vscode.md"
        "integration/editor/pycharm.md": "integration/editor/jetbrains.md"
        "advanced/installation.md": "installation.md"

  - search
  - social
  - mike:
    # These fields are all optional; the defaults are as below...
    # alias_type: symlink
    # redirect_template: null
    # deploy_prefix: ''
    # canonical_version: null
    # version_selector: true
    # css_dir: css
    # javascript_dir: js
