site_name: "Pixi by prefix.dev"
site_url: https://prefix-dev.github.io/pixi

theme:
  name: material
  custom_dir: docs/overrides
  favicon: assets/pixi.png
  logo: assets/pixi.png
  font:
    text: Red Hat Text
    code: JetBrains Mono

  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: prefix-light
      accent: prefix-light
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: prefix
      accent: prefix
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

  icon:
    edit: material/pencil
    view: material/eye

  features:
    - content.tabs.link
    - content.code.copy
    - content.action.edit
    - content.code.annotate
    # - content.code.select Sponsor only
    - navigation.instant
    - navigation.instant.progress
    - navigation.tracking
    - navigation.sections
    - navigation.top
    - navigation.footer

extra_css:
  - stylesheets/extra.css

repo_url: https://github.com/prefix-dev/pixi/
edit_uri: edit/main/docs/

markdown_extensions:
  - admonition
  - def_list
  - footnotes
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      toc_depth: 3
      permalink: "#"
  - mdx_truly_sane_lists

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/prefix-dev
    - icon: fontawesome/brands/mastodon
      link: https://hachyderm.io/@prefix
    - icon: fontawesome/brands/bluesky
      link: https://bsky.app/profile/prefix.dev
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/prefix-dev
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/prefix_dev
  version:
    provider: mike

nav:
  - Frontpage: index.md
  - Getting Started: getting_started.md
  - Workspace:
      - Environments: environments/environment.md
      - Tasks: environments/advanced_tasks.md
      - Multi Platform: environments/multi_platform_configuration.md
      - Multi Environment: environments/multi_environment.md
      - Lockfile: environments/lockfile.md
      - System Requirements: environments/system_requirements.md
  - Building:
      - Getting started: build/getting_started.md
      - Tutorials:
          - Building a Python package: build/python.md
          - Building a C++ Package: build/cpp.md
          - Multiple Packages in Workspace: build/workspace.md
          - Variants: build/variants.md
          - Advanced building using rattler-build:
              - Building a C++ package: build/advanced_cpp.md
              - Building a Python package: build/advanced_python.md
      - Dependency Types: build/dependency_types.md
      - Build Backends: build/backends.md
  - Distributing:
      - Pixi Pack: deployment/pixi_pack.md
      - Authentication: deployment/authentication.md
      - Container: deployment/container.md
      - S3: deployment/s3.md
  - Python:
      - Tutorial: python/tutorial.md
      - Pyproject.toml: python/pyproject_toml.md
      - Pytorch Installation: python/pytorch.md
  - Global Tools:
      - Introduction: global_tools/introduction.md
  - Integration:
      - Editor:
          - JupyterLab: integration/editor/jupyterlab.md
          - PyCharm: integration/editor/pycharm.md
          - RStudio: integration/editor/r_studio.md
          - VSCode Devcontainer: integration/editor/devcontainer.md
      - Continuous Integration:
          - GitHub Actions: integration/ci/github_actions.md
          - Lockfile Updates: integration/ci/updates_github_actions.md
      - Third Party:
          - Pixi Diff: integration/third_party/pixi_diff.md
          - Starship: integration/third_party/starship.md
  - Switching from:
      - Poetry: switching_from/poetry.md
      - Conda/Mamba: switching_from/conda.md
  - Tutorials:
      - ROS 2: tutorials/ros2.md
      - Rust: tutorials/rust.md
      - Multi Environment: tutorials/multi_environment.md
  - Advanced:
      - Installation: advanced/installation.md
      - Channel Logic: advanced/channel_logic.md
      - Info Command: advanced/explain_info_command.md
      - Shebang: advanced/shebang.md
  - Reference:
      - Pixi Manifest: reference/pixi_manifest.md
      - Pixi Configuration: reference/pixi_configuration.md
      - CLI: reference/cli/pixi.md
  - Misc:
      - Changelog: CHANGELOG.md
      - Pixi Vision: vision.md
      - Packaging Pixi: packaging.md
      - Community: Community.md
      - FAQ: FAQ.md

hooks:
  - schema/docs_hooks.py
  - install/docs_hooks.py
  - docs/docs_hooks.py

plugins:
  - redirects:
      redirect_maps:
        "advanced/advanced_tasks.md": "environments/advanced_tasks.md"
        "environment.md": "environments/environment.md"
        "design_proposals/multi_environment_proposal.md": "environments/multi_environment.md"
        "advanced/multi_platform_configuration.md": "environments/multi_platform_configuration.md"
        "configuration.md": "reference/pixi_manifest.md"
        "reference/project_configuration.md": "reference/pixi_manifest.md"
        "advanced/global_configuration.md": "reference/pixi_configuration.md"

  - search
  - social
  - mike:
    # These fields are all optional; the defaults are as below...
    # alias_type: symlink
    # redirect_template: null
    # deploy_prefix: ''
    # canonical_version: null
    # version_selector: true
    # css_dir: css
    # javascript_dir: js
