[project]
name = "pixi"
description = "Package management made easy!"
authors = [
  "Wolf Vollprecht <wolf@prefix.dev>",
  "Bas Zalmstra <bas@prefix.dev>",
  "Tim de Jager <tim@prefix.dev>",
  "Ruben Arts <ruben@prefix.dev>",
]
channels = ["conda-forge"]
#channels = ["https://fast.prefix.dev/conda-forge"]
platforms = ["linux-64", "win-64", "osx-64", "osx-arm64"]

[tasks]
build = "cargo build --release"
install = "cargo install --path . --locked"
test = "cargo test"
test-all = "cargo test --all-features"
lint = "pre-commit run --all"
bump = "tbump --only-patch"

[dependencies]
# Dev dependencies
pre-commit = "~=3.3.0"

# Needed for building rattler
rust = "~=1.77.0"
openssl = "3.*"
pkg-config = "0.29.*"
git = "2.42.0.*"

# Needed for the citation
cffconvert = ">=2.0.0,<2.1"
tbump = ">=6.9.0,<6.10"

[target.linux-64.dependencies]
compilers = ">=1.6.0"
sysroot_linux-64 = ">2.19"

[feature.docs.dependencies]
mkdocs = "1.5.3.*"
mkdocs-material = ">=9.5.16"
mdx_truly_sane_lists = ">=1.3,<2"
pillow = ">=9.4.0"
cairosvg = "2.7.1.*"
mike = "2.0.0.*"
mkdocs-redirects = ">=1.2.1,<2"

[feature.docs.tasks]
build-docs = "mkdocs build --strict"
docs = "mkdocs serve"
deploy-latest = "mike deploy --push --update-aliases $RELEASE_VERSION latest"
deploy-dev = "mike deploy --push dev devel"

[feature.schema.tasks]
generate-schema = { cmd = "python model.py > schema.json", cwd = "schema" }
test-schema = { cmd = "pytest -s", depends_on = "generate-schema", cwd = "schema" }
toml-lint = "taplo lint --verbose **/pixi.toml"
toml-format = "taplo fmt **/pixi.toml"

[feature.schema.dependencies]
python = ">=3.11"
pytest = ">=8.0.2,<8.1"
jsonschema = "*"
pydantic = ">=2.6.3,<2.7"
pyyaml = ">=6.0.1,<6.1"
taplo = ">=0.9.1,<0.10"

[environments]
docs = ["docs"]
schema = ["schema"]
# Enable these after merge to avoid conflicts in ci.
#docs = { features = ["docs"], no-default-feature = true }
#schema = { features = ["schema"], no-default-feature = true }
