[project]
name = "pixi"
version = "0.3.0"
description = "Package management made easy!"
authors = ["Wolf Vollprecht <wolf@prefix.dev>", "Bas Zalmstra <bas@prefix.dev>", "Tim de Jager <tim@prefix.dev>", "Ruben Arts <ruben@prefix.dev>"]
channels = ["conda-forge"]
platforms = ["linux-64", "win-64", "osx-64", "osx-arm64"]

[tasks]
build = "cargo build --release"
install = "cargo install --path . --locked"
test = "cargo test"
lint = "pre-commit run --all"

[dependencies]
# Dev dependencies
pre-commit = "~=3.3.0"

# Needed for building rattler
rust = "~=1.70.0"
openssl = "3.*"
pkg-config = "0.29.*"
git = "2.42.0.*"
