[project]
name = "pixi"
version = "0.0.8"
description = "Package management made easy!"
authors = ["Wolf Vollprecht <wolf@prefix.dev>", "Bas Zalmstra <bas@prefix.dev>", "Tim de Jager <tim@prefix.dev>", "Ruben Arts <ruben@prefix.dev>"]
channels = ["conda-forge"]
platforms = ["linux-64", "win-64", "osx-64", "osx-arm64"]

[commands]
build = "cargo build --release"

[dependencies]
# Needed for building rattler
rust = ">=1.65.0"
openssl = "3.*"
pkg-config = "0.29.*"

# Needed for building libsolv
cxx-compiler = "*"
cmake = "*"
make = "*"
