[project]
name = "pixi"
version = "0.6.1-dev"
description = "Package management made easy!"
authors = ["Wolf Vollprecht <wolf@prefix.dev>", "Bas Zalmstra <bas@prefix.dev>", "Tim de Jager <tim@prefix.dev>", "Ruben Arts <ruben@prefix.dev>"]
channels = ["conda-forge"]
platforms = ["linux-64", "win-64", "osx-64", "osx-arm64"]

[tasks]
build = "cargo build --release"
install = "cargo install --path . --locked"
test = "cargo test"
lint = "pre-commit run --all"
docs = { cmd = "mkdocs serve" }
build-docs = { cmd = "mkdocs build --strict" }

[dependencies]
# Dev dependencies
pre-commit = "~=3.3.0"

# Needed for building rattler
rust = "~=1.70.0"
openssl = "3.*"
pkg-config = "0.29.*"
git = "2.42.0.*"
compilers = "1.6.0.*"

# Documentation building
mkdocs = "1.5.3.*"
mkdocstrings-python = "1.7.1.*"
mkdocstrings = "0.23.0.*"
mkdocs-material = "9.4.4.*"
