github_url = "https://github.com/prefix-dev/pixi"

[version]
current = "0.54.2"

# Example of a semver regexp.
# Make sure this matches current_version before
# using tbump
regex = '''
  (?P<major>\d+)
  \.
  (?P<minor>\d+)
  \.
  (?P<patch>\d+)
  (rc
    (?P<candidate>\d+)
  )?
  '''

[git]
# The current version will get updated when tbump is run
message_template = "Bump version: {new_version}"
tag_template = "v{new_version}"

[[file]]
src = "CITATION.cff"

[[file]]
search = '^version = "{current_version}"'
src = "crates/pixi/Cargo.toml"

[[file]]
search = "pixi-version: v{current_version}"
src = "docs/integration/ci/github_actions.md"

[[file]]
search = "ARG PIXI_VERSION=v{current_version}"
src = "docs/integration/editor/vscode.md"

[[file]]
search = "/pixi.sh/v{current_version}/"
src = "schema/schema.json"

[[file]]
search = "Version: v{current_version}"
src = "install/install.sh"

[[file]]
search = "Version: v{current_version}"
src = "install/install.ps1"

[[file]]
search = "PIXI_VERSION = \"{current_version}\""
src = "tests/integration_python/common.py"

[[file]]
search = "None => \"{current_version}\","
src = "crates/pixi_consts/src/consts.rs"

[[field]]
# the name of the field
name = "candidate"
# the default value to use, if there is no match
default = ""
