[project]
name = "ros2-nav2"
version = "0.1.0"
description = "Add a short description here"
authors = ["Ruben Arts <ruben@prefix.dev>"]
channels = ["conda-forge", "robostack-staging"]
platforms = ["linux-64", "osx-arm64", "osx-64"]

[tasks]
start = {cmd="export GAZEBO_MODEL_PATH=$GAZEBO_MODEL_PATH:$PIXI_PACKAGE_ROOT/.pixi/env/share/turtlebot3_gazebo/models && export TURTLEBOT3_MODEL=waffle && ros2 launch nav2_bringup tb3_simulation_launch.py headless:=False"}

[dependencies]
ros-humble-desktop = "*"
ros-humble-nav2-bringup = "*"
ros-humble-turtlebot3-gazebo = "2.2.5.*"
