[workspace]
channels = ["https://prefix.dev/conda-forge"]
name = "ros2-nav2"
platforms = ["linux-64", "osx-arm64", "osx-64", "linux-aarch64"]

[tasks]
start = "ros2 launch nav2_bringup tb3_simulation_launch.py headless:=False"

[feature.humble]
channels = ["https://prefix.dev/robostack-humble"]

[feature.humble.dependencies]
ros-humble-desktop = ">=0.10.0,<0.11"
ros-humble-nav2-bringup = ">=1.1.18,<2"
ros-humble-turtlebot3-gazebo = ">=2.3.4,<3"
ros2-distro-mutex = ">=0.7.0,<0.8"

[feature.humble.activation.env]
GAZEBO_MODEL_PATH = "$GAZEBO_MODEL_PATH:$CONDA_PREFIX/share/turtlebot3_gazebo/models"
TURTLEBOT3_MODEL = "waffle"

[feature.jazzy]
channels = ["https://prefix.dev/robostack-jazzy"]

[feature.jazzy.dependencies]
ros-jazzy-desktop = ">=0.11.0,<0.12"
ros-jazzy-nav2-bringup = ">=1.3.10,<2"

[feature.jazzy.activation.env]
# Required for the RVIZ2 to properly startup on osx
RMW_IMPLEMENTATION = "rmw_cyclonedds_cpp"

[feature.jazzy.tasks]
start-tb4 = "ros2 launch nav2_bringup tb4_simulation_launch.py headless:=False"

[environments]
humble = { features = ["humble"] }
jazzy = { features = ["jazzy"] }
