[workspace]
authors = ["Nichita Morcotilo <nichita@prefix.dev>"]
channels = [
  "https://prefix.dev/pixi-build-backends",
  "https://prefix.dev/conda-forge",
]
license = "BSD-3-Clause"
platforms = ["win-64", "linux-64", "osx-64", "osx-arm64"]
preview = ["pixi-build"]

[package]
version = "0.4.0"

[package.build.backend]
name = "pixi-build-python"
version = "*"

[package.build.config]
compilers = ["rust"]

[package.build-dependencies]
rust = ">=1.91.0,<1.92"

[package.host-dependencies]
maturin = "*"

[package.run-dependencies]
pixi-build-api-version = ">=4,<5"
typing-extensions = "*"

[activation.env]
PIP_REQUIRE_VIRTUALENV = "false"

[feature.build.dependencies]
maturin = "~=1.10.2"
pip = "~=25.3.0"
python = "*"
rust = ">=1.91.0,<1.92"

[feature.build.target.linux-64.dependencies]
patchelf = "~=0.18.0"

[dependencies]
# Skipping self as it's a long build, and it's not yet reused in the tests
#py-pixi-build-backend = { path = "." }

# Testing and type checking
mypy = "*"
pytest = "*"
syrupy = "*"
toml = "*"
types-toml = "*"

# Formatting and linting
ruff = ">=0.14,<0.15"

[feature.dev.dependencies]
# Development tools (IDE support)
rust-src = ">=1.91.0,<1.92"

[tasks]
build = "maturin develop"
build-release = "maturin develop --release"

test = { cmd = "pytest --doctest-modules", depends-on = ["build"] }
test-fast = "pytest --doctest-modules"

fmt-rust = "cargo fmt --all"

lint = { depends-on = ["lint-python", "lint-rust"] }
lint-python = "ruff check --fix --exit-non-zero-on-fix --force-exclude"
lint-rust = "cargo clippy --all -- -D warnings"

[environments]
# Development environment with all tools (including rust-src for IDE support)
default = { features = ["build", "dev"], solve-group = "main" }

# Minimal CI environment for automated testing and checks
ci = { features = ["build"], solve-group = "main" }
