packaging>=24.0
attrs
pydash
argparse
requests
redis
xarray
pprintpp
werkzeug
Flask
FastAPI
Flask-Cors
Flask-SQLAlchemy
Flask-WTF
Flask-Login
Flask-Bcrypt
Flask-Migrate
Flask-Mail
Flask-Babel
Flask-Caching
Flask-DebugToolbar
Flask-SQLAlchemy