{% set PYTHON="%PYTHON%" if build_platform == "windows" else "$PYTHON" -%}
{% set EDITABLE_OPTION = "--editable" if editable else "" -%}
{%- set OPTIONS = [
    "-vv",
    "--no-deps",
    "--no-build-isolation"
] + extra_args + [EDITABLE_OPTION, manifest_root]
-%}

{% if build_platform == "windows" -%}
{% set OPTIONS = OPTIONS | join(" ^\n        ") -%}
{% else -%}
{% set OPTIONS = OPTIONS | join(" \\\n        ") -%}
{% endif -%}

{% if installer == "uv" -%}
uv pip install --python "{{ PYTHON }}" {{ OPTIONS }}
{% else %}
"{{ PYTHON }}" -m pip install --ignore-installed {{ OPTIONS }}
{% endif -%}

{% if build_platform == "windows" -%}
if errorlevel 1 exit 1
{% endif %}
