/* Display font */
@font-face {
    font-family: 'Moranga';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.prefix.dev/moranga/MorangaLight/font.woff2) format('woff2');
}
@font-face {
    font-family: 'Moranga';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.prefix.dev/moranga/MorangaRegular/font.woff2) format('woff2');
}
@font-face {
    font-family: 'Moranga';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.prefix.dev/moranga/MorangaMedium/font.woff2) format('woff2');
}
@font-face {
    font-family: 'Moranga';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(https://fonts.prefix.dev/moranga/MorangaBold/font.woff2) format('woff2');
}
@font-face {
    font-family: 'Moranga';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.prefix.dev/moranga/MorangaBlack/font.woff2) format('woff2');
}