[package]
authors.workspace = true
description = "Defines a superset of conda repodata records which can also represent dependencies from source"
edition.workspace = true
homepage.workspace = true
license.workspace = true
name = "pixi_record"
readme.workspace = true
repository.workspace = true
version = "0.1.0"

[dependencies]
dunce = { workspace = true }
file_url = { workspace = true }
itertools = { workspace = true }
miette = { workspace = true }
pathdiff = { workspace = true }
pixi_git = { workspace = true }
pixi_spec = { workspace = true, features = ["rattler_lock"] }
pixi_spec_containers = { workspace = true }
pixi_variant = { workspace = true, features = [
  "rattler_lock",
  "pixi_build_types",
] }
rattler_conda_types = { workspace = true }
rattler_digest = { workspace = true, features = ["serde"] }
rattler_lock = { workspace = true }
serde = { workspace = true, features = ["derive"] }
serde_with = { workspace = true }
thiserror = { workspace = true }
typed-path = { workspace = true }
url = { workspace = true }

[dev-dependencies]
insta = { workspace = true, features = ["yaml"] }
serde_json = { workspace = true }
serde_yaml = { workspace = true }
