{# - Set up common variables -#}
{%- set library_prefix = "$PREFIX" -%}

mojo --version
cd "{{ source_dir }}"

{#- Build any binaries -#}
{% if bins %}
{% for bin in bins %}
mojo build {{ bin.extra_args | join(" ")  }} "{{ bin.path }}" -o {{ library_prefix }}/bin/{{ bin.name }}
{% endfor %}
{% endif %}

{#- Build pkg -#}
{% if pkg %}
mojo package {{ pkg.extra_args | join(" ") }} "{{ pkg.path }}" -o {{ library_prefix }}/lib/mojo/{{ pkg.name}}.mojopkg
{% endif %}
