[workspace]
channels = [
  "https://prefix.dev/pixi-build-backends",
  "https://prefix.dev/conda-forge",
]
platforms = ["osx-arm64", "win-64", "linux-64", "linux-aarch64"]
preview = ["pixi-build"]

[activation.env]
CARGO_TARGET_DIR = "target/pixi"

[tasks]
lint.depends-on = ["fmt", "lint-ruff", "lint-mypy"]

[target.linux-64.dependencies]
clang = ">=21.1,<21.2"
mold = ">=2.33.0,<3.0"
patchelf = "==0.18.0"

[target.linux-64.activation]
scripts = ["../../scripts/activate.sh"]

[dependencies]
py-pixi-build-backend = "*"
py_rattler = ">=0.20,<0.21"
pydantic = ">=2.8.2,<3"

[pypi-dependencies]
pixi-build-ros = { path = ".", editable = true }

[environments]
default = { features = ["test", "lint"], solve-group = "default" }
lint = { features = ["lint"], no-default-feature = true }
test = { features = ["test"], solve-group = "default" }

[feature.test.tasks]
lint-mypy = "mypy"
test = "pytest tests"

[feature.test.dependencies]
mypy = ">=1.18.2,<2"
pixi-pycharm = ">=0.0.8,<0.1"
pytest = "*"
syrupy = ">=5,<6"
types-pyyaml = "*"
# You can skip this as it's a long build, uncomment this when developing only in this package
#py-pixi-build-backend = "*"
py-pixi-build-backend = { path = "../../py-pixi-build-backend" }

[feature.lint.dependencies]
pyupgrade = ">=3.20.0,<4"
ruff = "*"

[feature.lint.tasks]
fmt = { depends-on = ["fmt-pyupgrade", "fmt-ruff"] }
fmt-pyupgrade = "pyupgrade --py310-plus **/**/*.py"
fmt-ruff = "ruff format src tests"
lint-ruff = "ruff check ."

## Package section
[package.build.backend]
name = "pixi-build-python"
version = "*"

[package.build.config]
extra-input-globs = ["!tests/**"]

[package.host-dependencies]
hatchling = "*"
python = ">=3.10"

[package.run-dependencies]
catkin_pkg = "*"
pixi-build-api-version = ">=4,<5"
py_rattler = ">=0.15.0,<0.16"
pydantic = ">=2.8.2,<3"
python = ">=3.10"
pyyaml = "*"
rosdistro = "*"
# should be added to `py-pixi-build-backend`
typing-extensions = "*"
# this depends has to match the test dependency, so switch comments if needed
#py-pixi-build-backend = "*"
py-pixi-build-backend = { path = "../../py-pixi-build-backend" }
