[workspace]
channels = ["https://prefix.dev/conda-forge"]
platforms = ["osx-arm64", "win-64", "linux-64", "linux-aarch64"]
preview = ["pixi-build"]
solve-strategy = "lowest-direct"

[activation.env]
# We override the backend in the tests as it's a dependency for the test environment.
PIXI_BUILD_BACKEND_OVERRIDE = "pixi-build-ros"

[dependencies]
pixi-build-ros.path = "."
pixi-pycharm = ">=0.0.8,<0.1"

[feature.test.tasks]
build-pixi-release = "pixi run --manifest-path ../../../pixi.toml --environment rust-build build-release"
lint-mypy = "mypy"
test = { cmd = "pytest tests/unit", description = "Run unit tests" }
test-ci = { depends-on = ["test", "test-integration"] }
test-integration = { cmd = "pytest tests/integration", default-environment = "integration-test" }

# Unit testing and type checking
[feature.test.dependencies]
mypy = ">=1.18.2,<2"
pytest = ">=8,<9"
syrupy = ">=5,<6"
types-pyyaml = ">=5.4"

[feature.lint]
dependencies.ruff = ">=0.14.13"
tasks.lint = "ruff check --fix --exit-non-zero-on-fix --force-exclude --config pyproject.toml ."

### Package section ###
[package.build.backend]
name = "pixi-build-python"
version = ">=0.4.5"

[package.build.config]
extra-input-globs = ["!tests/**"]
ignore-pypi-mapping = false

[package.run-dependencies]
# should be added to `py-pixi-build-backend`
typing-extensions = "*"
# py-pixi-build-backend = "*"
py-pixi-build-backend = { path = "../../py-pixi-build-backend" }

[environments]
default = ["test", "lint"]
lint = { features = ["lint"], no-default-feature = true }
