[workspace]
channels = ["conda-forge"]
platforms = ["linux-64", "osx-arm64"]
preview = ["pixi-build"]

[dependencies]
python = { git = "https://github.com/python/cpython", subdirectory = "Tools/pixi-packages/default" }

[pypi-dependencies]
packagehelloworld = "*"
