{%- macro env(key) -%}
{%- if is_bash %}{{ "$" ~key }}{% else %}{{ "%" ~ key ~ "%" }}{% endif -%}
{% endmacro -%}
{%- macro export(key, value) -%}
{%- if is_bash -%}
export {{ key }}={{ value | tojson }}
{%- else -%}
SET "{{ key }}={{ value }}"
{%- endif -%}
{%- endmacro -%}

{%- if is_bash -%}
  {%- set bin_path=env("BUILD_PREFIX") ~ "/bin/" -%}
{%- else -%}
  {%- set bin_path=env("BUILD_PREFIX") ~ "\\Library\\bin\\" -%}
{%- endif -%}

{% if has_openssl -%}
{{ export("OPENSSL_DIR", env("PREFIX")) }}
{%- endif %}

{% if has_sccache -%}
{{ export("RUSTC_WRAPPER", "sccache") }}
{%- endif %}

{{ export("CARGO", bin_path ~ "cargo") }}
{{ export("RUSTC", bin_path ~ "rustc") }}
{{ export("RUSTDOC", bin_path ~ "rustdoc") }}

{{ (bin_path ~ "cargo")|tojson }} install --locked --root "{{ env("PREFIX") }}" --path "{{ source_dir }}" --target-dir target --no-track {{ extra_args | join(" ") }} --force

{%- if not is_bash %}
if errorlevel 1 exit 1
{%- endif %}

{% if has_sccache %}sccache --show-stats{% endif %}
