name: Publish to WinGet
on:
  release:
    types: [released]
  workflow_dispatch:
    inputs:
      tag_name:
        description: "Specific tag name"
        required: true
        type: string
jobs:
  publish:
    runs-on: windows-latest
    steps:
      - uses: vedantmgoyal2009/winget-releaser@4ffc7888bffd451b357355dc214d43bb9f23917e # v2
        with:
          identifier: prefix-dev.pixi
          installers-regex: '\.msi' # Only .msi files
          token: ${{ secrets.WINGET_TOKEN }}
          release-tag: ${{ inputs.tag_name || github.event.release.tag_name }}
