name: Test Schema

on:
  push:
    branches:
      - main
    paths-ignore:
      - "docs/**"
      - "mkdocs.yml"
      - "*.md"
  workflow_dispatch:
  pull_request:
    paths:
      - "**/pixi.toml"
      - "schema/**"
      - "**/schema.yml"

permissions:
  contents: read

jobs:
  test-schema:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false
      - uses: prefix-dev/setup-pixi@a0af7a228712d6121d37aba47adf55c1332c9c2e # v0.9.4
        with:
          cache-write: ${{ github.ref == 'refs/heads/main' }}
          environments: schema
      - name: Ensure schema is up-to-date
        run: |
          pixi run -e schema generate-schema
          git diff --exit-code
      - name: Test Schema
        run: |
          pixi run -e schema test-schema
          git diff --exit-code
