name: Manage by Issue

on:
  issue_comment:
    types: [created]

concurrency:
  group: vouch-manage
  cancel-in-progress: false

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  manage:
    runs-on: ubuntu-latest
    if: >-
      contains(github.event.comment.body, 'vouch') ||
        contains(github.event.comment.body, 'denounce')
    steps:
      - name: Obtain GitHub app token
        id: generate-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ vars.VOUCHED_APP_ID }}
          private-key: ${{ secrets.VOUCHED_APP_PRIVATE_KEY }}
          owner: prefix-dev
          repositories: vouched

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: prefix-dev/vouched
          token: ${{ steps.generate-token.outputs.token }}

      - uses: mitchellh/vouch/action/manage-by-issue@c6d80ead49839655b61b422700b7a3bc9d0804a9 # v1.4.2
        with:
          issue-id: ${{ github.event.issue.number }}
          comment-id: ${{ github.event.comment.id }}
          repo: prefix-dev/pixi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
