name: Manage by Issue

on:
  issue_comment:
    types: [created]

concurrency:
  group: vouch-manage
  cancel-in-progress: false

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  manage:
    runs-on: ubuntu-latest
    if: >-
      contains(github.event.comment.body, 'vouch') ||
        contains(github.event.comment.body, 'denounce')
    steps:
      - name: Obtain GitHub app token
        id: generate-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ vars.VOUCHED_APP_ID }}
          private-key: ${{ secrets.VOUCHED_APP_PRIVATE_KEY }}
          owner: prefix-dev
          repositories: vouched

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: prefix-dev/vouched
          token: ${{ steps.generate-token.outputs.token }}
          persist-credentials: true

      - uses: mitchellh/vouch/action/manage-by-issue@c6d80ead49839655b61b422700b7a3bc9d0804a9 # v1.4.2
        id: manage-by-issue
        with:
          issue-id: ${{ github.event.issue.number }}
          comment-id: ${{ github.event.comment.id }}
          repo: prefix-dev/pixi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Close PR
        if: >-
          steps.manage-by-issue.outputs.status == 'denounced' &&
            github.event.issue.pull_request
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            github.rest.pulls.update({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number,
              state: 'closed'
            })

      - name: Label PR
        if: >-
          steps.manage-by-issue.outputs.status == 'denounced' &&
            github.event.issue.pull_request
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            github.rest.issues.addLabels({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              labels: ['denounced']
            })
