[workspace] # (1)!
channels = ["https://prefix.dev/conda-forge"]
platforms = ["win-64", "linux-64", "osx-arm64", "osx-64"]
preview = ["pixi-build"]

[dependencies] # (2)!
python_rich = { path = "." }

[tasks] # (3)!
start = "rich-example-main"

[package] # (4)!
name = "python_rich"
version = "0.1.0"

[package.build] # (5)!
backend = { name = "pixi-build-python", version = "0.3.*" }

[package.host-dependencies] # (6)!
hatchling = "==1.26.3"

[package.run-dependencies] # (7)!
rich = "13.9.*"
